<!-- <header>Header</header> -->
<button type="button" class="btn btn-primary" [routerLink]="routesEnum.PROFILE">Profile</button>
<br>
<button type="button" class="btn btn-primary" (click)="navigate()">Go To Profile</button>

<body class="container">
    <router-outlet></router-outlet>
</body>

<!-- <footer>Footer</footer> -->


<!-- <div class="container my-5">
    <div *ngIf="show">
        <h1>One way data binding</h1>
        <input type="text" [ngModel]="value">
        <div>Value : {{value}}</div>
    </div>
    <br>
    <div>
        <h1 [ngClass]="{'d-none': !show}" [ngStyle]="{color : color}">Two way data binding</h1>
        <input type="text" [(ngModel)]="color">
        <div>Value : {{value1}}</div>
        <button type="button" class="btn btn-primary" (click)="submit()">Print</button>
        <button type="button" class="btn btn-primary" (click)="toggle()">Toggle</button>
    </div>

    <input type="text" [(ngModel)]="value">

    <button type="button" class="btn btn-primary">{{value}}</button>

    <br>
    <h1>For</h1>
    <div *ngFor="let user of users">
        <p><b>Name: </b>{{user.name}} <br>
            <ng-container *ngIf="user.address">
                <b>City:</b> {{user.address.city}}, <b>State:</b> {{user.address.state}}
            </ng-container>
            <br>
            <ng-container *ngIf="user.roles">
                <b>Role(s) :</b>
                <ng-container *ngFor="let role of user.roles; let i =index, let l=last, let f=first">
                    {{role}}{{!i ? ', ' : ''}}
                    <br>
                    {{i}} {{f}} {{l}}
                </ng-container>
            </ng-container>
        </p>
    </div>
    <br>
    <div>
        <p>{{date | date : 'MMM dd yyyy, hh:mm:ss a'}}</p>
    </div>
</div> -->