<div *ngIf="user">
    <h5>{{user.name}} | {{user.username}}</h5>
    <h6>Email: {{user.email}} </h6>
    <h6>Phone: {{user.phone}}</h6>
    <!-- <p class="d-flex mb-0">
        <span>Address : </span>
        <span>
            {{user.address.street}},
            {{user.address.suite}},
            {{user.address.city}},
            {{user.address.zipcode}}
        </span>
    </p> -->

    <app-address [address]="user.address"></app-address>
    <a [href]="user.website" target="_blank"><span style="color:#000;">Website:</span> {{user.website}}</a><br>

    <div class="d-items-b mt-4">
        <button type="button" class="btn btn-primary" (click)="edit(user)">
            Edit User
        </button>
        <button *ngIf="showPostsBtn" type="button" class="btn btn-primary mt-2 w-20 m-auto d-flex"
            (click)="viewPosts(user.id)">
            View Posts
        </button>
        <button type="button" class="btn btn-danger" (click)="delete(user)">
            Delete User
        </button>
    </div>

</div>